<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.1.2.30" targetFramework="net48" />
  <package id="Dragablz" version="0.0.3.223" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="ToolGood.Words.FirstPinyin" version="3.0.1.4" targetFramework="net48" />
  <package id="ToolGood.Words.Pinyin" version="3.0.2.6" targetFramework="net48" />
  <package id="VariableKeywordMatcher.I" version="1.0.7" targetFramework="net48" />
  <package id="VncSharp" version="1.0.7.0" targetFramework="net48" />
</packages>