{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false
}
