<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"  
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="16536Shawn.V.Workshop.PRemoteM"
	  Publisher="CN=72AC6E85-B8C4-48F8-A07B-9A985863E628"
	  Version="1.0.94.0" />

	<Properties>
		<DisplayName>1Remote</DisplayName>
		<PublisherDisplayName>Shawn Veck</PublisherDisplayName>
		<Logo>Images\PackageLogo.png</Logo>
		<!-- If you don't want virtualization of file system writes to the user's AppData folder, then include the property, and set it to disabled. https://docs.microsoft.com/zh-cn/windows/msix/desktop/flexible-virtualization -->
		<desktop6:FileSystemWriteVirtualization>disabled</desktop6:FileSystemWriteVirtualization>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="1Remote"
			  Description="Your remote manager." 
			  Square150x150Logo="Images\Square150x150Logo.png" 
			  BackgroundColor="transparent"  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile  Square71x71Logo="Images\SmallTile.png" ShortName="1Remote"   >
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="portrait"/>
					<uap:Rotation Preference="landscapeFlipped"/>
					<uap:Rotation Preference="portraitFlipped"/>
				</uap:InitialRotationPreference>
			</uap:VisualElements>
			<Extensions>
				<desktop:Extension Category="windows.startupTask" EntryPoint="Windows.FullTrustApplication">
					<desktop:StartupTask
						TaskId="1Remote"
						Enabled="true"
						DisplayName="1Remote" />
				</desktop:Extension>
				<uap3:Extension Category="windows.appExecutionAlias" EntryPoint="Windows.FullTrustApplication">
					<uap3:AppExecutionAlias>
						<desktop:ExecutionAlias Alias="1Remote.exe" />
					</uap3:AppExecutionAlias>
				</uap3:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
		<!-- Include the required restricted capability. https://docs.microsoft.com/zh-cn/windows/msix/desktop/flexible-virtualization -->
		<rescap:Capability Name="unvirtualizedResources"/>
	</Capabilities>
</Package>
